<div intro id="intro">
    <h1>Let us introduce ourselves <span>We are <span>Originate</span></span></h1>
    <h2>A Creative Web Studio</h2>
</div>
<!-- <div starlink page="contact">
    <svg id="tag1" version="1.1" id="Layer_1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px" width="240px" height="56px" viewBox="0 0 240 56" style="enable-background:new 0 0 240 56;"
         xml:space="preserve">
    <polyline class="st2" points="239.465,56.249 192.666,8.901 152.722,8.901 "/>
    <g>
        <text transform="matrix(1 0 0 1 -0.2275 14.9229)" class="st0 st3 st1">START A PROJECT</text>
    </g>
    </svg>
</div>

<div starlink page="services">
    <svg version="1.1" id="Layer_3"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px" width="190px" height="56px" viewBox="0 0 190 56" style="enable-background:new 0 0 190 56;"
         xml:space="preserve">
    <polyline class="st2" points="190,0 142.625,47.348 92.067,47.348 "/>
    <g>
        <text transform="matrix(1.0123 0 0 1 0 54.0215)" class="st0 st3 st1">SERVICES</text>
    </g>
    </svg>
</div> -->
<div starlink page="portfolio">
<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="175px" height="45px" viewBox="0 0 175 45" enable-background="new 0 0 175 45" xml:space="preserve"><polyline class="st2" points="173.856,44.61 139.692,9.897 103.747,9.897"/></svg>
</div>